<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Snack Vue Js</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div id="booleanLogo">
                <img src="logo_boolean.png" alt="Logo Boolean">
            </div>
            <div id="bar">
                <input placeholder="New thing to do" type="text" v-model="newThing" @keyup.enter="adder">
                <button @click="adder">Aggiungi</button>
                <button @click="undo"><i class="fas fa-undo"></i></button>
            </div>
            <div id="list">
                <ul v-if="things.length > 0">
                    <li v-for="(thing, index) in things">{{ thing }}<button @click="remover(index)"><i class="fas fa-times"></i></button></li>
                </ul>
                <h2 v-else>Well done, you finished all your tasks!</h2>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="master.js"></script>
</body>


</html>