* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
button, li {
    cursor: pointer;
}
.container {
    width: 70%;
    height: 100vh;
    margin: auto;
    /* border: 1px solid red; */
    padding: 20px 0;
}
.container > div {
    /* border: 1px solid grey; */
    padding: 20px 0;
}
#booleanLogo {
    text-align: center;
}
#booleanLogo > img {
    width: 30%;
}
#bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#bar > input {
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 20px 10px;
    margin-right: 20px;
}
#bar > button {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}
#list {
    position: relative;
    padding: 20px 20px;
    overflow-y: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}
#list li {
    padding: 15px 5px;
    list-style: none;
    border-bottom: 1px solid lightgray;
}
#list li:hover {
    background-color: white;
}
#list li > button {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
}
#list > h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

